---
import Layout from "@/layouts/Base";
---

<Layout
	title="About Me"
	description="Learn more about the author of this blog"
	image="/beach.jpg"
>
	<h1 class="title">About</h1>
	
	<p>
		Hi! My name is Blair Vanderlugt and I am a self taught Software Engineer specializing in Cloud Infrastructure and Web3. This is my dev blog where you can read about what I am working on and how to reach on othe platforms.
	</p>

	<h2 class="title mt-4">Here are the tools and services I work with:</h2>
	<ul class="list-inside list-disc">
		<li>DevOps</li>
		<li>Kubernetes</li>
		<li>Terraform</li>
		<li>GCP</li>
		<li>AWS</li>
		<li>Java</li>
		<li>Javascript</li>
		<li>Go</li>
		<li>Python</li>
	</ul>
</Layout>
