---
import Card from "../Card.astro";
import Section from "../Section.astro";
import data from '../../data.yaml';
import { Cert } from "@/types";

---
<Section title="Certifications">
    {data.certifications.map((cert: Cert) =>
        <Card
            class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
            as="a"
            heading={cert.issuer}
            subheading={cert.name}
            date={cert.issued}
            altText="Lorem, ipsum dolor sit"
            href={cert.href}
        />
    )}
</Section>